@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en');

$font-family-base: 'Roboto', 'Helvetica', sans-serif;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: $radius; /* Firefox 1-3.6 */
    -ms-border-radius: $radius;
    border-radius: $radius; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

body {
    font-family: $font-family-base;
    text-align: center;
    background-color: blue;
}

.quote-wrapper {
    display: inline-block;
    min-width: 200px;
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    @include border-radius(8px);
}

.btn-quote {
    color: white;

    &:focus,
    &:hover {
        background-color: #353535 !important;
        color: white;
    }
}

.btn-twitter {
    float: left;
}

.btn-newQuote {
    float: right;
}